node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dump_date.sql
eas.json
docker-compose pasha.yml

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
